$navbar-default-bg: #073815;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('dan-gold-298710-unsplash.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1, .jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.button-xlarge{
  background-color: #073815;
}

.button-xlarge:hover{
  color: #fff;
  text-decoration: none;
}

#logo {
  float: left;
  font-style: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: blue;
  text-decoration: none;
}

#footer {
  color: #fff;
  background-color: #073815;
  margin: 30px;
}
